<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="swastick.com.Listener" />
		<listener class-name="resources.ExtentReporterNG" />
	</listeners>
	
	<test thread-count="5" name="Homepage Test">
		<classes>
			<class name="swastick.com.HomePage" />
		</classes>
	</test>
	<test name="Title validation Test">
		<classes>
			<class name="swastick.com.TitleValidate" />
		</classes>
	</test>

</suite> <!-- Suite -->
